# Projeto Ciencia dos Dados
## Cluesterização de filmes recomendados

#### Vitor Satyro, Iago Mendes, Gabriel Ligeiro


-Hieraquica CLust   http://www.dummies.com/programming/big-data/data-science/data-science-performing-hierarchical-clustering-with-python/

-Kmean Clust https://datascience.stackexchange.com/questions/16700/confused-about-how-to-apply-kmeans-on-my-a-dataset-with-features-extracted

-Kmean CLust2 https://stackoverflow.com/questions/28017091/will-pandas-dataframe-object-work-with-sklearn-kmeans-clustering

In [11]:
import pandas as pd
from scipy import stats
from math import *
from cmath import *
from sklearn.cluster import *

In [12]:
MD = pd.read_csv("Dataset/movies_metadata.csv")

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
MD = MD.drop("video",1)
MD = MD.drop("tagline",1)
MD = MD.drop("revenue",1)
MD = MD.drop("homepage",1)
MD = MD.drop("belongs_to_collection",1)
MD = MD.drop("overview",1)
MD = MD.drop("poster_path",1)
MD = MD.drop("status",1)
MD = MD.drop("title",1)

In [14]:
MD.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7,173.0

In [25]:
df = MD
colunas = ["popularity","runtime","vote_average","vote_count"]
#std = stats.zscore(df["popularity"])
print(df[colunas])
#Cluster the data
kmeans = KMeans(n_clusters=2, random_state=0).fit(std)
labels = kmeans.labels_

#Glue back to originaal data
df['clusters'] = labels

#Add the column into our list
colunas.extend(['clusters'])

#Lets analyze the clusters
print (df[colunas].groupby(['clusters']).mean())

      popularity  runtime  vote_average  vote_count
0        21.9469     81.0           7.7      5415.0
1        17.0155    104.0           6.9      2413.0
2        11.7129    101.0           6.5        92.0
3        3.85949    127.0           6.1        34.0
4        8.38752    106.0           5.7       173.0
5        17.9249    170.0           7.7      1886.0
6        6.67728    127.0           6.2       141.0
7        2.56116     97.0           5.4        45.0
8        5.23158    106.0           5.5       174.0
9         14.686    130.0           6.6      1194.0
10       6.31844    106.0           6.5       199.0
11       5.43033     88.0           5.7       210.0
12       12.1407     78.0           7.1       423.0
13         5.092    192.0           7.1        72.0
14       7.28448    119.0           5.7       137.0
15       10.1374    178.0           7.8      1343.0
16       10.6732    136.0           7.2       364.0
17       9.02659     98.0           6.5       539.0
18       8.20545     90.0           6.1      1128.0
19       7.33791    103.0           5.4       224.0
20       12.6696    105.0           6.4       305.0
21       10.7018    124.0           6.5       199.0
22       11.0659    132.0           6.0       394.0
23       12.1331    111.0           6.3       143.0
24        10.332    112.0           7.1       365.0
25        1.8459    123.0           7.0        33.0
26       8.68132    100.0           6.6        91.0
27       2.22843    104.0           7.4        36.0
28       9.82242    108.0           7.6       308.0
29       1.10091    108.0           6.5        17.0
...          ...      ...           ...         ...
45436   1.270832     92.0           3.7        11.0
45437   20.82178      4.0           8.3       146.0
45438   0.590087    111.0           6.8        11.0
45439   0.143223     61.0           5.8         2.0
45440   0.767762     89.0           5.0        12.0
45441   4.392389    101.0           5.2       145.0
45442    0.21926      3.0           5.0         3.0
45443   1.618458      3.0           7.6        29.0
45444   0.208349      3.0           6.1         8.0
45445   0.148131      3.0           4.5         2.0
45446   0.725084      6.0           6.7        12.0
45447   0.213973      3.0           6.0         6.0
45448   0.071782      2.0           5.0         2.0
45449   2.568495     67.0           5.4         7.0
45450   1.109068      1.0           6.5        22.0
45451   0.225432      2.0           6.5         6.0
45452   0.011025     58.0           0.0         0.0
45453   1.559596    146.0           6.6        14.0
45454   0.139936     79.0           4.0         2.0
45455   0.225051     90.0           6.0         3.0
45456   0.222814     65.0           6.3         8.0
45457   0.076061     45.0           7.0         2.0
45458    0.38645     30.0           7.0         1.0
45459   0.661558     85.0           3.5         1.0
45460   5.683753    104.0           5.7        26.0
45461   0.072051     90.0           4.0         1.0
45462   0.178241    360.0           9.0         3.0
45463   0.903007     90.0           3.8         6.0
45464   0.003503     87.0           0.0         0.0
45465   0.163015     75.0           0.0         0.0

[45466 rows x 4 columns]

NameError: name 'std' is not defined