# Projeto Ciencia dos Dados
## Cluesterização de filmes recomendados

#### Vitor Satyro, Iago Mendes, Gabriel Ligeiro


-Hieraquica CLust   http://www.dummies.com/programming/big-data/data-science/data-science-performing-hierarchical-clustering-with-python/

-Kmean Clust https://datascience.stackexchange.com/questions/16700/confused-about-how-to-apply-kmeans-on-my-a-dataset-with-features-extracted

-Kmean CLust2 https://stackoverflow.com/questions/28017091/will-pandas-dataframe-object-work-with-sklearn-kmeans-clustering
- Todos os tipos de Clusters http://scikit-learn.org/stable/modules/clustering.html

In [11]:
import pandas as pd
from scipy import stats
from math import *
from cmath import *
from sklearn.cluster import *

In [12]:
MD = pd.read_csv("Dataset/movies_metadata.csv")

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
MD = MD.drop("video",1)
MD = MD.drop("tagline",1)
MD = MD.drop("revenue",1)
MD = MD.drop("homepage",1)
MD = MD.drop("belongs_to_collection",1)
MD = MD.drop("overview",1)
MD = MD.drop("poster_path",1)
MD = MD.drop("status",1)
MD = MD.drop("title",1)

In [14]:
MD.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,vote_average,vote_count
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.9469,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",7.7,5415.0
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.0155,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",6.9,2413.0
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.5,92.0
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.85949,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",6.1,34.0
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",5.7,173.0

In [33]:
df = pd.read_csv('Dataset/movies_metadata.csv')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:

colunas = ["popularity","runtime","vote_average","vote_count"]
std = stats.zscore(df.as_matrix(df[colunas]))
#print(df[colunas])
#Cluster the data
kmeans = KMeans(n_clusters=2, random_state=0).fit(std)
labels = kmeans.labels_

#Glue back to originaal data
df['clusters'] = labels

#Add the column into our list
colunas.extend(['clusters'])

#Lets analyze the clusters
print (df[colunas].groupby(['clusters']).mean())